@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Poppins:wght@400;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}
.logo_container {
  display: flex;
  width: 50%;
  /* border: 1px solid; */
}
/* .logo_container.nav_logo {
  width: 50px;
} */
nav ul {
  display: flex;
  align-items: center;
}
nav .nav_logo {
  width: 140px;
  height: 90px;
  margin-left: 240px;
  display: flex;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  width: 100%;
  margin: 0 auto;
  /* background-color: aquamarine; */
  padding-top: 38px;
  padding-bottom: 38px;
}
nav li {
  list-style: none;
  color: #3c354f;
}
.nav_item_conatainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.124rem;
  margin-right: 240px;
}
.nav_item_conatainer li {
  margin-right: 50px;
}
button {
  display: inline-block;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  border: none;
  outline: none;
  padding: 0.625rem 1.25rem;
  font-size: 1.125rem;
  white-space: nowrap;
  cursor: pointer;
}
/* main banner section */

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.banner_content {
  max-width: 500px;
}
.banner_content li {
  list-style: circle;
  margin-bottom: 18px;
  font-weight: 500;
  color: #534c64;
  font-size: 1.125rem;
}
.banner_content,
.banner_image {
  width: 600px;
}
.main_title {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
}
.goat {
  font-size: 6.125rem;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sign_in_btn {
  display: inline-block;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  border: none;
  outline: none;
  padding: 1.3125rem 2.5rem;
  font-size: 1.25rem;
  white-space: nowrap;
  cursor: pointer;
  color: #fff;
  margin-right: 25px;
}
.go_btn {
  display: inline-block;
  border-radius: 48px;
  background: #4ec5f7;
  border: none;
  outline: none;
  padding: 1.3125rem 2.5rem;
  font-size: 1.25rem;
  white-space: nowrap;
  cursor: pointer;
  color: #fff;
}
